body {
margin-left: 94px;
padding-left: 10px;
background: #4f5a6b;
}

html nav {
padding: 0;
margin: 0;
box-sizing: border-box;
}

#nav {
position: fixed;
left: 0.25%;
top: 0.90%;
bottom: 0.50%;
width: 94px;
height: 100%;
background: #202226;
border: 1px solid #99AAB5;
margin: 0 auto;
}

#nav:before {
background: #black;
border: 1px solid #99AAB5;
position: absolute;
top: 3px;
left: 3px;
right: 3px;
bottom: 3px;
pointer-events: none;
content: "";
}

#navhome {
position: relative;
text-align: center;
padding-top: 20px;
top: 50%;
transform: translateY(-50%);
}

#navchar {
position: relative;
text-align: center;
padding-top: 20px;
top: 0%;
transform: translateY(-100%);
}

#navweap {
position: relative;
text-align: center;
padding-top: 20px;
top: 25%;
transform: translateY(-225%);
}

#navarti {
position: relative;
text-align: center;
padding-top: 20px;
top: 75%;
transform: translateY(-375%);
}

#header {
top: 10%;
color: #52545a;
left: 90px;
width: 98.90%;
height: 75px;
background: #202226;
border: 1px solid #99AAB5;
padding-left: 20px;
font-size: 20px;
}

#h1 {
position: relative;
transform: translateY(-25%);
}

#container {
border: 1px solid #99AAB5;
background: #202226;
width: 97.50%;
overflow: hidden;
margin: 20px auto;
padding: 20px;
}

#container #box{
	position: relative;
	padding: 20px;
	width: calc(500px - 30px);
	height: calc(300px - 30px);
	background: #52545a;
	float: left;
	margin: 50px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;

#container #box:hover{
	position: relative;
	padding: 20px;
	width: calc(500px - 30px);
	height: calc(300px - 30px);
	background: #red;
	float: left;
	margin: 50px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;








