<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='data/design.css')}}">
    <title>Artifacts</title>
</head>
<body>

    <div id="header"><h1 id="h1">Artifacts</h1></div>

    <nav id="nav">
        <div id="navhome">
        <a style="text-decoration:none" href="{{ url_for('views.home') }}">
            <img src="{{url_for('static', filename='icon/home.png')}}" alt="Home" style="width:64px;height:64px;"/>
            </a>
    </div>
        <div id="navchar">
        <a id="50" style="text-decoration:none" href="{{ url_for('views.characters') }}">
            </a>
    </div>
    <div id="navweap">
        <a style="text-decoration:none" href="{{ url_for('views.weapons') }}">
            <img src="{{url_for('static', filename='icon/weapons.png')}}" alt="Weapons" style="width:64px;height:64px;"/>
            </a>
    </div>
    <div id="navarti">
        <a style="text-decoration:none" href="">
            <img src="{{url_for('static', filename='icon/artifactsselected.png')}}" alt="Artifacts" style="width:64px;height:64px;"/>
            </a>
    </div>
    </nav>

    <script>
    if ({{ sibl }} == 1){
     const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters1.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    } else {
    const charaicon = document.getElementById("50");
     charaicon.innerHTML = '<img src="{{url_for('static', filename='icon/characters2.png')}}"alt="Characters" style="width:64px;height:64px;"/>';
    }
    </script>
</body>
</html>